<form (ngSubmit)="validerForm()">
    <input type="text" placeholder="Nom du Pokemon?" [(ngModel)]="nom" name="nom">

    <select name="Type" [(ngModel)]="types" name="types"> 
        <option value="">Choisissez un type</option>
        <option value="Feu">Feu</option>
        <option value="Eau">Eau</option>
        <option value="Plante">Plante</option>
        <option value="Glace">Glace</option>
        <option value="Dragon">Dragon</option>
        <option value="Acier">Acier</option>
        <option value="Insecte">Insecte</option>
        <option value="Electrik">Electrik</option>
        <option value="Poison">Poison</option>
        <option value="Sol">Sol</option>
        <option value="Roche">Roche</option>
        <option value="Fée">Fée</option>
        <option value="Vol">Vol</option>
        <option value="Normal">Normal</option>
        <option value="Spectre">Spectre</option>
        <option value="Psy">Psy</option>
        <option value="Combat">Combat</option>
        <option value="Ténébres">Ténébres</option>
    </select>
    
    <input type="text" placeholder="Taille" [(ngModel)]="taille" name="taille">
    <input type="text" placeholder="Poids"  [(ngModel)]="poids" name="poids">
    <input type="Submit" value="Poke-Cherchons!">
</form>